doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1")
        meta(name="description", content=pageDescription)
        title= pageTitle
        link(
            rel="stylesheet",
            type="text/css",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Material+Icons"
        )

        link(
            rel="stylesheet",
            type="text/css",
            href="/css/app.css"
        )

        link(
            rel="icon",
            type="image/x-icon",
            href="/images/favicon.ico"
        )

    body
        #header.text-align-center
            .container.center
                h1 Star Wars Planets Database
                p Information on planets from the Star Wars universe
        #content
            .center
                block content

        .footer-push
        #footer
            .container.center.text-align-center
                p Created by [ 
                    a(href="http://lewnelson.com", target="_blank") Lewis Nelson 
                    | ]
                p [ 
                    a(href="https://github.com/lewnelson/star-wars-planets-database", target="_blank") GitHub 
                    | ]
        block scripts